.Rproj*
Fdk2R/FdkRTest/bin/*
obj/
*.pdb
Fdk2R/SharedFdkFunctionality/bin/*
Fdk2R/R2Cs/bin/*
Fdk2R/TestRClrHost/bin/*
*.suo
*.DotSettings.user
*.suo
Fdk2R/RSoftFxHost/bin/*

.RData
*.Rout
.Rhistory
*.log
man/*
Storage/*
Fdk2R/QuoteL2Tester/QuoteL2Tester/bin/*
*.Rd
man
NAMESPACE
*.suo
*.suo
RPackage/NAMESPACE
*.userprefs
*.suo
